

<div class="sc-fifth" id="contact">

  <h1 class="tt tt-contact">Contacto</h1>
  <p class="pg-contact">Soy un <small class="pg-contact pg-black">Desarrollador de Software</small> apasionado y altamente motivado en busca de nuevas oportunidades</p>
  <p class="pg-contact pg-black">¡Contáctame para colaborar en proyectos desafiantes y crear soluciones innovadoras juntos!</p>

  <figure class="ct-contact-icons">
    <a [href]="contact">
      <img src="assets/svgs/email.svg" alt="Mail icon" class="img-contact">
    </a>

    <a href="https://www.linkedin.com/in/juandavidguevaraleon/" target="_blank">
      <img src="assets/svgs/linkedin.svg" alt="LinkedIn icon" class="img-contact">
    </a>
  </figure>
</div>
