

<div class="sc-first">
  <h1 class="tt">Hola</h1>
  <h1 class="tt tt-down">Soy David Leon</h1>
  <p class="pg-sc">Soy un <small class="pg-sc sm-black">Desarrollador de Software</small> con una pasión inquebrantable por escribir <small class="pg-sc sm-black">código limpio</small> y eficiente. Mi enfoque se centra en crear soluciones que brinden una experiencia excepcional al usuario y faciliten el mantenimiento a largo plazo.</p>
  <figure class="ct-icons">
    <a href="https://github.com/davidlynnDP" target="_blank">
      <img src="assets/svgs/github.svg" alt="github" class="ic ic-git">
    </a>

    <a href="https://www.linkedin.com/in/juandavidguevaraleon/" target="_blank">
      <img src="assets/svgs/linkedin.svg" alt="linkedIn" class="ic ic-lin">
    </a>
  </figure>
</div>


<div class="sc-second" id="about">
  <figure class="ct-photo">
    <img src="assets/images/photo-personal.png" alt="circular photo" class="img-photo">
  </figure>

  <div class="ct-infome">
    <h1 class="tt">Sobre mí</h1>
    <p class="pg-sc">Mi enfoque en escribir código limpio (Clean Code) se combina con <small class="pg-sc sm-black">habilidades blandas</small> como trabajo en equipo, liderazgo y comunicación efectiva, lo que me permite destacar en proyectos colaborativos.</p>
    <a [href]="srcPdfCv" target="_blank">
      <button class="btn-cv">Hoja de vida</button>
    </a>

  </div>
</div>
