
<header>
  <div class="container">
    <figure>
      <img src="assets/svgs/logo.svg" alt="DL" class="img__logo animate__animated animate__fadeInDown">
    </figure>

    <nav class="nav__container">
      <ul class="list">
        <li><a href="#about" class="a__link">Acerca de</a></li>
        <li><a href="#projects" class="a__link">Proyectos</a></li>
        <li><a href="#contact" class="a__link">Contacto</a></li>
        <li>
          <img src="assets/svgs/audio.svg" alt="music icon" class="dark-light animate__animated animate__fadeInRight" (click)="toggleAudio()">
        </li>
      </ul>
    </nav>
  </div>
</header>

<line-separator-custom [isDownShadow]="true"></line-separator-custom>

